<div class="toolbar-user-container">
        <div class="profileMenu mat-elevation-z1">
            <a mat-button [matMenuTriggerFor]="appMenu">{{userName}}</a>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>Profile</mat-icon>
                </button>
                <button mat-menu-item>
                    <mat-icon>Help</mat-icon>
                </button>
                <button mat-menu-item (click)="onLogout()">
                    <mat-icon>Logout</mat-icon>
                </button>
            </mat-menu>
        </div>
</div>