.badge {
    position: absolute;
    top: 0;
    left: 50%;
    font-weight: 700;
    line-height: 13px;
    height: 13px;
    padding: 5px;
  border-radius: 26%;
  width: 30%;
  background-color: #f44336;
    color: #fff;
    border-color:#f44336
}