/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.alert_info, .alert_success, .alert_warning, .alert_error, .alert_validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: center
}
.alert_info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert_error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}