<h3>Most Recent Contributions</h3>

<table mat-table [dataSource]="contributionList" class="mat-elevation-z8">

        <!-- Document ID Column -->
        <ng-container matColumnDef="documentId">
          <th mat-header-cell *matHeaderCellDef> Document ID </th>
          <td mat-cell *matCellDef="let element"> {{element?.documentId}} </td>
        </ng-container>
        
        <!-- Payment Date Column -->
        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef> Payment Date </th>
          <td mat-cell *matCellDef="let element"> {{element?.dateCreated }} </td>
        </ng-container>
      
        <!-- Fiscal Month Column -->
        <ng-container matColumnDef="fiscalMonth">
          <th mat-header-cell *matHeaderCellDef> Fiscal Month </th>
          <td mat-cell *matCellDef="let element"> {{element?.fiscalMonth}} </td>
        </ng-container>
      
        <!-- Fiscal Year Column -->
        <ng-container matColumnDef="fiscalYear">
          <th mat-header-cell *matHeaderCellDef> Fiscal Year </th>
          <td mat-cell *matCellDef="let element"> {{element?.fiscalYear}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="contributionCategory">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element?.contributionCategory}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element?.amount}} </td>
        </ng-container>

        <!-- Comments Column -->
        <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let element"> {{element?.comments}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contributionColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: contributionColumnsToDisplay;"></tr>
    </table>      