<h1>User Registration </h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-tab-group>
        <mat-tab label="User Info">
          <h4>User Info</h4>
          <div formGroupName="appUserInfo">
              <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Middle Name" formControlName="middleName">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Gender" formControlName="gender">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Role" formControlName="userRole">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Status" formControlName="status">
              </mat-form-field>
        
              <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
              
              <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password">
              </mat-form-field>
          </div>
          <button mat-raised-button>Next</button>
        </mat-tab>

        <mat-tab label="Member Info">
          <h4>Member Info</h4>
          <div formGroupName="memberInfo">
              <mat-form-field>
                  <input matInput placeholder="Member ID" formControlName="memberId">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Membership Category" formControlName="membershipCategory">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Scheme Join Date" formControlName="joinDate">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Retirement Date" formControlName="retirementDate">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Basic Salary" formControlName="basicSalary">
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="Address" formControlName="address">
              </mat-form-field>
          </div>
        </mat-tab>
    </mat-tab-group>

</form>

  