<h2>User Profile</h2>

<div>
<label>Name: </label>{{appUser?.lastName}} {{appUser?.middleName}} {{appUser?.firstName}}<br>
<label>Email: </label>{{appUser?.email}}<br>
<app-member-contribution *ngIf="MEMBER_ROLE === appUser?.userRole" [memberId]="gussmember.memberId"></app-member-contribution>

    <div>
        <a *ngIf="ADMIN_ROLE === appUser?.userRole" [routerLink]="['/registration']">Register New User</a>
    </div>
    <div>
        <a *ngIf="ADMIN_ROLE === appUser?.userRole || STAFF_ROLE === appUser?.userRole" [routerLink]="['/contribution-entry']">Enter New Contribution</a>
    </div>
</div>