<div class="col-md-6">
    <h1>Login Tests</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" formControlName="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" required>
        </div>
        <button class="btn btn-default">Login</button>
    </form>
</div>